#content>.main {
  display: flex;
  flex-direction: row;
  min-height: var(--main-height);
}

#content>.main main {
  background-color: var(--color-bg-main);
  color: var(--color-fg-main);
  flex-grow: 1;
  padding: 1em;
}

#content>.main h2 {
  margin-bottom: 0;
}

#content>.main small {
  font-size: .8em;
}
